html, body { 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
	font-family: "roboto", "verdana";
}

#map {
	margin: 0;
	padding: 0;
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 125px);
}


.demo-card-wide.mdl-card {
			width: 100vw;
			
			}
			.demo-card-wide > .mdl-card__title {
				color: #fff;
				height: 165px;
				background: url('../images/backg.jpg') center / cover;

			}
			.demo-card-wide > .mdl-card__menu {
			  color: #fff;
			}
.text-shadow {
	text-shadow: 3px 2px 4px black;
}

.set-padding {
	padding: 15px 15px 15px 15px;
}

#newRunStartCard {
	width: 50vw;
			
			}
			.demo-card-wide > .mdl-card__title {
				color: #fff;
				height: 165px;
			}
			.demo-card-wide > .mdl-card__menu {
			  color: #fff;
			}
.text-shadow {
	text-shadow: 3px 2px 4px black;
}


#newRunButtonDiv{
	margin: 10px 6px 10px 6px;
	padding: 5px 5px 5px 5px;
}

#startedRunningDiv{
	display: none;	
	float: left;
	width: 100vw;
	margin: 5px 6px 5px 6px;
	padding: 5px 5px 5px 5px;
}

}
.light-text-shadow {
	text-shadow: 1px 1px 2px black;
}