html, body { 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
	font-family: "roboto", "verdana";
	
}

#map {
	margin: auto;
	padding: 0;
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 100px);
}


.demo-card-wide.mdl-card {
			width: 100vw;
			margin: auto;
			}
			.demo-card-wide > .mdl-card__title {
				color: #fff;
				height: 165px;
				background: url('../images/backg.jpg') center / cover;

			}
			.demo-card-wide > .mdl-card__menu {
			  color: #fff;
			}
.text-shadow {
	text-shadow: 3px 2px 4px black;
}

.set-padding {
	padding: 15px 15px 15px 15px;
}

#newRunStartCard {
	width: 50vw;
			
			}
			.demo-card-wide > .mdl-card__title {
				color: #fff;
				height: 165px;
			}
			.demo-card-wide > .mdl-card__menu {
			  color: #fff;
			}
.text-shadow {
	text-shadow: 3px 2px 4px black;
}


#newRunButtonDiv{
	margin: auto;
	padding: 5px 5px 5px 5px;
}

#startedRunningDiv{
	display: none;	
	float: left;
	width: 100vw;
	margin: auto;
	padding: 5px 5px 5px 5px;
}

}
.light-text-shadow {
	text-shadow: 1px 1px 2px black;
}

.demo-card-event.mdl-card {
  margin: auto;
  width: 98vw;
  height: 40vh;
  background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

#runInfoCard {
	display: none;
}