html, body { 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
	font-family: "roboto", "verdana";
	background-color: #000027;
}

#map {
	margin: auto;
	padding: 0;
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 103px);
}


.demo-card-wide.mdl-card {
			width: 93vw;
			margin: auto;
			}
			.demo-card-wide > .mdl-card__title {
				color: #fff;
				height: 165px;
				background: url('../images/backg.jpg') center / cover;

			}
			.demo-card-wide > .mdl-card__menu {
			  color: #fff;
			}
.text-shadow {
	text-shadow: 3px 2px 4px black;
}

.set-padding {
	padding: 15px 15px 15px 15px;
}

#newRunStartCard {
	width: 50vw;
			
			}
			.demo-card-wide > .mdl-card__title {
				color: #fff;
				height: 165px;
			}
			.demo-card-wide > .mdl-card__menu {
			  color: #fff;
			}
.text-shadow {
	text-shadow: 3px 2px 4px black;
}


#newRunButtonDiv{
	margin: auto;
	padding: 5px 10px 5px 10px;
}

#startedRunningDiv{
	display: none;	
	float: left;
	width: 100vw;
	margin: auto;
	padding: 5px 5px 5px 5px;
}

}
.light-text-shadow {
	text-shadow: 1px 1px 2px black;
}

.demo-card-event.mdl-card {
	margin: auto;
 	width: 98vw;
	height: 98vh;
	padding: 15px;
  	background: #b0bec5;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 5px;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #263238;
}

#runInfoCard {
	display: none;
}

.white-text{
	color: aliceblue;
}
#chip{
	width: 94vw;
	margin-left:6px;
	margin-top:10px;
	margin-bottom: 6px;
	background-color: #00338e;
	color:snow;
}

.divBtn{
	border-radius:  38px 15px 15px 15px;
	color:darkblue;
	background-color: white;
	text-align:left;
	align-items: center;
	height:130px;
	width: 86vw;
	padding-left:12px;
	padding-top:2px;
	line-height: 140%;
	margin:2px 4px 2px 4px;
	font-size: 13px;
	text-transform: none;
	
}

#viewPageDiv {
			width: 90vw;
			
			margin: auto;
			}
			.demo-card-wide > .mdl-card__title {
				color: #fff;
				height: 165px;
				background: url('../images/backg.jpg') center / cover;

			}
			.demo-card-wide > .mdl-card__menu {
			  color: #fff;
			}
}

.demo-card-square.mdl-card {
  width: 90vw;
  height: 95%;
}
.demo-card-square > .mdl-card__title {
  color: #fff;

}